{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="jumbotron">
    <h1 class="display text-center mt-4">{{ object.product_name }}</h1>
</div>
<img src="{% mediapath object.preview %}" class="rounded mx-auto d-block" alt="preview" height="500">
<br>

<div class="container">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p>{{ object.description }}</p>
            <ul class="list-unstyled mt-3 mb-2 text-start m-2">
                <li>- Категория {{ object.category }}</li>
                <li>- Создан {{ object.created_at }}</li>
                <li>- Обновлено {{ object.updated_at }}</li>
                <li>- Создал {{ object.user.first_name|default:'Админ' }} {{ object.user.last_name|default:'' }}</li>
            </ul>
            <h3 class="card-title pricing-card-title">{{ object.purchase_price }} руб.</h3>
            <a href="#" type="button"
               class="btn btn-lg btn-outline-primary">Купить</a>
        </div>
    </div>
</div>
{% endblock %}