{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Добро пожаловать в наш Онлайн-магазин!</h1>

<!--            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for object in object_list %}
                <div class="card mb-4 mr-5" style="width: 20rem;">
                    <img src="{{ object.preview|my_media }}" class="card-img-top" alt="preview">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.product_name }}</h5>
                        <p class="card-text">{{ object.description|slice:100 }}... </p>
                        <p><a class="btn btn-secondary" href="{% url 'catalog:product' object.pk %}"
                              role="button">Подробнее &raquo;</a></p>
                    </div>
                </div>
            {% endfor %}

        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}